# dependencies
/node_modules

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# project-specific
kolekta_ui_demo.html
IDP_01_CFCTS.pdf
